<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>About</title>
    </properties>

    <body>
        <section name="About">
            <p>
                The ${project.name} is a Java library which compiles <a href="http://lesscss.org/">Less</a> source files to
                <a href="http://www.w3.org/Style/CSS/">CSS</a> code.
            </p>
            <p>
                From <a href="http://lesscss.org/">Less</a> website:<br />
                <q>Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables,
                mixins, functions and many other techniques that allow you to make CSS that is more maintainable, themable
                and extendable.</q>
            </p>
        </section>
        <section name="Compatibility">
            <p>
                The compiler is compatible with version <a href="https://github.com/less/less.js/releases/tag/v1.7.5">1.7.5</a>.
                The library is based on the official <a href="http://lesscss.org/">Less</a> JavaScript compiler adapted to the
                <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Projects/Rhino">Rhino</a> engine.
            </p>
            <p>
                It supports sources located at:
            </p>
            <ul>
                <li>local drives</li>
                <li>
                    protocols:
                    <ul>
                        <li><a href="https://www.w3.org/Protocols/">HTTP</a> and HTTPS</li>
                        <li>
                            <a href="https://www.w3.org/Protocols/rfc959/">FTP</a> (requires
                            <a href="https://commons.apache.org/proper/commons-net/">Apache Commons Net</a> library in the class
                            path)
                        </li>
                        <li>class path (prefix <code>classpath://</code>)</li>
                    </ul>
                </li>
                <li>
                    custom - defined by programmers
                    (see <a href="apidocs/index.html?biz/gabrys/lesscss/compiler2/filesystem/FileSystem.html">FileSystem</a>)
                </li>
            </ul>
        </section>
        <section name="Requirements">
            <p>
                The compiler to run requires:
            </p>
            <ul>
                <li>Java 6.0 or higher</li>
                <li>Third-Party Dependencies (<a href="dependencies.html">see list</a>)</li>
            </ul>
        </section>
        <section name="Download">
            <p>
                You can download the library from <a href="download.html">this page</a> or using various
                <a href="dependency-info.html">dependency management tools</a>.
            </p>
        </section>
        <section name="Concept">
            <p>
                The library contains two compilers:
            </p>
            <ul>
                <li>
                    <a href="apidocs/index.html?biz/gabrys/lesscss/compiler2/NativeLessCompiler.html">NativeLessCompiler</a>
                    is a compiler with a shell-type API
                </li>
                <li>
                    <a href="apidocs/index.html?biz/gabrys/lesscss/compiler2/LessCompiler.html">LessCompiler</a>
                    is a facade for the <code>NativeLessCompiler</code> with a developer-friendly API
                </li>
            </ul>
            <p>
                The idea for the <code>NativeLessCompiler</code> class was based on the
                <a href="https://github.com/marceloverdijk/lesscss-java">lesscss-java</a>
                library by <a href="https://github.com/marceloverdijk">Marcel Overdijk</a>.
            </p>
        </section>
        <section name="Usage">
            <p>
                The <code>LessCompiler</code> contains 18 methods. Below is an example of how to use some of them:
            </p>
            <pre>String cssCode = null;
LessOptions options = null;

// create compiler
LessCompiler compiler = new LessCompiler();

// compile source code
cssCode = compiler.compile(".basic { display: block; }");

// compile source code with custom options
options = new LessOptionsBuilder().ieCompatibilityOff().build();
cssCode = compiler.compile(".basic { display: block; }", options);

// compile source file
cssCode = compiler.compile(new File("source.less"));

// compile source file and save CSS code in an output file
compiler.compile(new File("source.less"), new File("output.css"));

// compile source file and compress CSS code
cssCode = compiler.compileAndCompress(new File("source.less"));

// compile source file and compress CSS code using custom encoding
cssCode = compiler.compileAndCompress(new File("source.less"), Charset.forName("UTF-8"));

// compile source code and generate inline source map
cssCode = compiler.compileWithInlineSourceMap(".basic { display: block; }", new LessOptions());

// compile source file and generate source map (save it in output.map file)
options = new LessOptionsBuilder().sourceMapBasePath("basePath").build();
compiler.compileWithSourceMap(new File("source.less"), new File("output.css"), new File("output.map"), options);

// compile source file and generate source map (save it in output.css.map file)
compiler.compileWithSourceMap(new File("source.less"), new File("output.css"), options);</pre>
        </section>
    </body>
</document>
